
#submitall{
    padding-top: 20px;
    padding-left: 20%;
  }

#submit{
    border:2px solid rgb(86, 119, 229);
    font-size:16px;
    color:white;
    background-color: rgb(127, 148, 218);
    padding: 5px;
    border-radius: 10px;
  } 

#labjackinfo{
    padding:20px;
    padding-top: 0;


}

#getportinfo{
    padding:20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#port{
    padding:20px;
}

h4{
  font-weight: normal;
  font-size: 18px;
}

.port{
  padding:10px;
  margin: 10px;
  font-size: 18px;
}

#labjackinfo{
  font-size: 18px;
}

#change{
  border:2px solid rgb(86, 119, 229);
  font-size:16px;
  color:white;
  background-color: rgb(127, 148, 218);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
} 
button{
  border:2px solid rgb(86, 119, 229);
  font-size:16px;
  color:white;
  background-color: rgb(127, 148, 218);
  padding: 5px;
  border-radius: 10px;
  margin-bottom:5px;
  text-align: center;
}
div{
  padding: 10px;
}
.relocate{
  border:2px solid rgba(86, 160, 168, 0.738);
  font-size:12px;
  color:white;
  background-color: rgba(108, 202, 213, 0.738);
  text-align: center;


  border-radius: 2px;
  margin-right:5px;
  height: 30px;
  
}
#top{
  display: flex;
  padding: 0;
  align-items: center;
  margin:0;
}

#buttonsdiv{
  margin-left:auto;
}

#pastportstable{
  border: 1px;
  padding:10px;
}

th{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-right: 10px;

}
tr{
  padding:10px;
  margin:10px;
  border-bottom: 1px solid #ddd;
}
td{
  margin:15px;
  padding-right:10px;
}

.error{
  color:red;
  font-size: small;
}


h1{
  margin:10px;
}

h2{
  margin:10px;
}